@media (min-width:1025px){
.center {
    display: block;
    margin-left: 200px;
    position: relative;
    
  }
}
  @media (min-width:480px)  { 
    .center {
        display: block;
        margin:  auto;
        margin-left: 250px;
        width:100%;
      }
      
  }
  #text-todo
  {
    color:rgba(0, 204, 255, 0.979);
    /* rgba(255, 0, 0, 0.404); */
    font-weight: 900;
  }
  h1 {
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(236, 126, 0, 0.986);
}

   
  
  